.header {
	border-bottom: 1px solid #ccc;
	padding: 1.8rem 0;
}
%contacts{
	text-decoration: none;
}
.phone-number {
	@extend %contacts;
	font-weight: 700;
	font-size: 1.5625rem;
	color: #000;
}
.email-address {
	@extend %contacts;
	color: #808080;
}
.header__contact {
	float: right;
	text-align: right;
}
.header__logo {
	float: left;
}

