@charset "UTF-8";
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body, html {
  height: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 15px 70px;
  border-radius: 30px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  border: 3px solid black;
}

.btn--yellow {
  background-color: #ffcd00;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 18px 40px;
  border-radius: 25px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav {
  display: flex;
  font-size: 1rem;
  font-weight: 900;
}

.nav__link {
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.nav__link:first-child {
  margin-left: 0;
}

.header__phone {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 900;
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  margin-left: 10px;
}

.header__logo {
  display: inline-block;
  text-decoration: none;
}

.logo__icon {
  width: 80px;
  height: 80px;
}

.intro {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 45, 82, 0.7)), url("img/intro.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__iner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  color: #fff;
}

.intro__text, .intro__cities {
  font-size: 1.286rem;
}

.intro__text {
  margin-top: 75px;
}

.intro__cities {
  margin-top: 30px;
  margin-bottom: 65px;
}

.title__icon {
  display: block;
  width: 360px;
  height: 130px;
  fill: white;
}

.whatIsIt {
  padding: 135px 0;
}

.whatIsIt__iner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatIsIt__description {
  width: 50%;
}

.whatIsIt__title {
  font-size: 52px;
  padding: 0 0 34px;
  font-weight: 700;
}

.whatIsIt__text {
  font-size: 16px;
  line-height: 1.55;
}
.whatIsIt__text p {
  margin-top: 20px;
}

.whatIsIt__photo {
  width: 50%;
  text-align: center;
}

.packraftRent {
  padding: 150px 0;
  background-color: #f2f2f2;
}

.packraftRent__title {
  font-size: 52px;
  text-align: center;
}

.packraftRent__iner {
  display: flex;
  margin-top: 100px;
}

.packraftRent__description {
  width: 25%;
}

.packraftRent__photo {
  width: 50%;
}

.rentDescription__card {
  margin-bottom: 60px;
  display: flex;
}

.rentDescription__icon {
  width: 88px;
  height: 88px;
}

.rentDescription__text-left {
  max-width: 172px;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
}

.rentDescription__text-right {
  max-width: 172px;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.packraftRent__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax {
  width: 100%;
  margin: 0 auto;
}

.parallaxPhoto {
  position: relative;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/paralax/paralax_1.webp");
}

.parallax__2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/paralax/paralax_2.webp");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 52px;
}

.subCaption {
  position: absolute;
  left: 0;
  top: 67%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.paralaxIcon {
  width: 40px;
  height: 20px;
  fill: #fff;
}

.paralax__arrow {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  text-align: center;
}

.service {
  padding: 80px 0 240px;
}

.service__iner {
  max-width: 750px;
  margin: 0 auto;
}

.service__text {
  font-size: 18px;
  line-height: 1.8;
}

.service__line {
  width: 80px;
  height: 3px;
  background-color: #ffcd00;
  margin-bottom: 14px;
}

.service__verticalContainer {
  margin: 100px 0 120px;
  text-align: center;
}

.service__verticalline {
  display: inline-block;
  width: 1px;
  height: 65px;
  background-color: #000;
}

.description__iner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.description__text {
  width: 30%;
  font-size: 18px;
  line-height: 1.6;
}
.description__text ul {
  padding-left: 20px;
}

.description__text--right {
  margin-left: 50px;
}

.description__text--left {
  margin-right: 50px;
}

.description__photo {
  width: 70%;
  padding-bottom: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.description__section {
  display: flex;
  margin-bottom: 95px;
}

.price {
  background-color: #f2f2f2;
  padding: 75px 0;
}

.price__title {
  font-size: 52px;
  text-align: center;
}

.price__subtitle {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.price__cards {
  display: flex;
  padding: 95px 0;
}

/* card */
.card {
  background-color: #fff;
  width: 31.333%;
  margin-right: 3%;
  padding: 30px 30px 40px;
  border-radius: 5px;
}

.card:last-child {
  margin-right: 0;
}

.card__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.card__subtitle {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 25px;
}

.card__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.card__btn {
  font-size: 18px;
  font-weight: 700;
}

.card__btn:after {
  content: " →";
}

.card__img {
  height: 150px;
}

.card__icon {
  width: 75px;
  height: 75px;
}

.addition {
  margin: 0px auto;
  max-width: 960px;
  background-color: #ebebeb;
  padding: 30px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  vertical-align: center;
}

.addition__icon {
  width: 24px;
  height: 24px;
  margin-right: 75px;
}

.faq {
  background-color: #eeeeee;
  padding: 100px 0;
}

.faq__inner {
  max-width: 765px;
  background-color: #fff;
  margin: 0 auto;
}

.faq__item {
  padding: 30px;
  border-bottom: 2px solid #eeeeee;
}

.faq__click {
  font-size: 18px;
  font-weight: 700;
}

.faq__slide {
  font-size: 16px;
  margin-top: 20px;
  display: none;
}

.booking {
  width: 100%;
  padding: 100px 0;
  background-color: #ffcd00;
}

.team {
  width: 100%;
  padding: 100px 0 120px;
}

.team__title {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}

.team__description {
  font-size: 18px;
  text-align: center;
  max-width: 570px;
  margin: 50px auto 80px;
  line-height: 1.5;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}

.team__item {
  width: 25%;
  margin-bottom: 60px;
  padding: 0 30px;
}

.team__photo {
  display: block;
  max-width: 135px;
  height: 135px;
  border-radius: 50%;
  margin: 0px auto 20px;
}

.team__name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.team__prof, .team__city {
  margin-bottom: 8px;
  font-size: 12px;
  text-align: center;
}

.team__verticalContainer {
  margin: 50px 0 100px;
  text-align: center;
}

.team__verticalline {
  display: inline-block;
  width: 1px;
  height: 65px;
  background-color: #000;
}

.team__addition {
  margin: 0 auto;
  max-width: 935px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  background-color: black;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__icon {
  display: block;
  width: 215px;
  height: 80px;
  fill: yellow;
}

.footer__contacts {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 70px;
  line-height: 1.6;
}

.footer__copyright {
  font-size: 14px;
  color: #9A9A9A;
  text-align: center;
  line-height: 2;
  margin-top: 30px;
}

.footer__social {
  text-align: center;
  margin-top: 65px;
}

/*# sourceMappingURL=style.css.map */
