.works{
	display: flex;
	flex-wrap: wrap;
}
.works__item{
	width: 33.333%;
	height: 350px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.works__photo{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate3d(-50%, -50%, 0);
}