footer{
	height: 100px;
	background-color: gray;
	padding-top: 20px;
}
.footer__inner{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.social__link{
	display: inline-block;
	text-decoration: none;
}
.footer__icon{
	width: 50px;
	height: 50px;
	fill: #fff;
	margin-left: 10px;
}
