.btn{
	display: inline-block;
	padding: 20px 70px;
	font-size: 1.6rem;
	color: #fff;
	border-radius: 36px;
	background-color: #000;
	text-decoration: none;
	font-weight: 600;
}
.btn--blue{
	background-color: #1f5bff;
}