.btn{
	display: inline-block;
	padding: 20px 70px;
	font-size: 1.6rem;
	color: #fff;
	border-radius: 36px;
	background-color: #1f5bff;
	text-decoration: none;
	font-weight: 600;
}
.call__link{
	text-align: center;
}