.btn{
	text-decoration: none;
	display: inline-block;
	padding: 15px 70px;
	border-radius: 30px;
	color: #000;
	font-size: 22px;
	font-weight: 700;
	border:3px solid black;
}
.btn--yellow{
	background-color: #ffcd00;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 18px 40px;
	border-radius: 25px;
	color: #000;
	font-size: 14px;
	font-weight: 700;
}
