.whatIsIt{
	padding: 135px 0;
}
.whatIsIt__iner{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
    align-items: center;
}
.whatIsIt__description{
	width: 50%;

}
.whatIsIt__title{
	font-size: 52px;
	padding: 0 0 34px;
	font-weight: 700;
}
.whatIsIt__text{
	font-size: 16px;
	line-height: 1.55;
	& p{
		margin-top: 20px;
	}
}

.whatIsIt__photo{
	width: 50%;
	text-align: center;
}